.button_to {
  align-self: flex-end;
}

.form-check-input {
  background-color: #218754 !important;
}

.btn {
  border-radius: 20px;
}

.rec-border {
  border-radius: 20px !important;
}

.nav-link {
  color: #575757;
  font-weight: bolder;
}

.nav-link:hover {
  color: #fff;
}

header nav ul {
  gap: 10px;
}
